@font-face {
  font-family: 'Bangers';
  src: url('./fonts/BangersOld.ttf') format('truetype');
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
